<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons>
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>botões Normais e Apagados</h2>
  <ion-button>Default</ion-button>
  <ion-button routerLink="/home">Home</ion-button>
  <ion-button [disabled]="true">Disabled</ion-button>

  <h2>botões com bordas</h2>
  <ion-button expand="block">Block</ion-button>
  <ion-button expand="full">Full</ion-button>

  <h2>botões Shape (redondo)</h2>
  <ion-button>Default</ion-button>
  <ion-button shape="round">Round</ion-button>

  <h2>botões fill</h2>
  <ion-button>Default</ion-button>
  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="solid">Solid</ion-button>

  <h2>botões Tamanhos</h2>
  <ion-button size="small">Small</ion-button>
  <ion-button size="default">Default</ion-button>
  <ion-button size="large">Large</ion-button>

  <h2>botões com Icones</h2>
  <ion-button color="danger">
    <ion-icon slot="start" name="home"></ion-icon>
    Left Icon
  </ion-button>

  <ion-button color="success">
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>

  <h2>botão personalizado</h2>
  <ion-button fill="outline" color="success" size="small">Custom Button</ion-button>
</ion-content>